@require "../variables"
@require "../shared/nav"

body
  padding-top 51px
  margin-bottom 2em

.jumbotron
  padding 1em 0 2em 0
  text-align center
  h1
    font 4em $font_logo
    margin 0
  h2
    font-size 15px
    margin 0
    a
      color $text_light

table
  width 100%
  border 1px solid black
  thead th
    background-color black
    color #fff
  td, th
    text-align left
    padding 5px
    border 1px solid black

h2.page-title
  font 2em $font_logo
  margin-top 0

.tab-content
  background-color white
  border-left 1px solid #ddd
  border-bottom 1px solid #ddd
  border-right 1px solid #ddd
  padding 1em
  &.profile-read-only
    border-top 1px solid #ddd
    border-radius 1em

form
  margin-bottom 1.5em
  textarea.form-control
    height 9em

// RANKINGS

.rankings-nav-xs
  height 55px
  button
    width 100%

// PROFILE

.profile-avatar
  text-align center
  overflow hidden
  padding-bottom 1em
  img
    max-width 300px
    box-shadow 5px 5px 10px $border_dark
.profile-bio
  background-color $bg_light
  padding 1em
  border-radius .5em
  font-size 1.3em
  &.empty
    color ($bg_light - 50%)
.profile-settlement
  .label
    position relative
    top -2px

// SETTLEMENT

.settlement-members
  list-style none
  border 2px solid $bg_light
  &, & li
    margin 0
    padding 0
  li
    padding .5em
    &.alt
      background-color $bg_light
  .badge, .label
    position relative
    top -2px
.settlement-member
  display inline-block
.settlement-votes
  display inline-block
  margin-left 1em
