@require "../variables"
@require "../shared/nav"

body
  padding-top 51px
  margin-bottom 2em

.jumbotron
  padding 1em 0 2em 0
  text-align center
  h1
    font 4em $font_logo
    margin 0
  h2
    font-size 15px
    margin 0

table
  width 100%
  border 1px solid black
  thead th
    background-color black
    color #fff
  td, th
    text-align left
    padding 5px
    border 1px solid black

h2
  font 2em $font_logo
  margin-top 0

// RANKINGS

.rankings-nav-xs
  height 55px
  button
    width 100%
