!!! 5
html
  head
    title Shintolin - Explore. Settle. Trade. Conquer.
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
    !=css('game')
  body
    .bigbox
      include map
      include stats
      include nav
      table.infotable
        tr
          td(colspan='2')
            include actions
        tr
          td(colspan='2')
            include flavor
        tr
          td
            include inventory
          td
            include chat
            script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
            !=js('game')
