.gamebox.invbox(style='opacity: .82')
  b Weight: Very Heavy
  hr
  i You are carrying:
  div(title='a fragrant cup of herbal tea, for reviving') 6 x cups of herbal tea
  hr
  form(method='POST')
    input(type='submit', value='Drop')
    input(type='hidden', name='action', value='drop')
    select(name='number')
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
      option(value='4') 4
      option(value='5') 5
    select(name='item', style='width: 10em')
      option(value='13') Cups of herbal tea
