.map
  .locationbox <br>The Feral Hills - Late Autumn
  table
    tr
      td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
    tr
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='NW')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='-1')
          input(type='hidden', name='y', value='-1')
          input(type='hidden', name='z', value='0')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='N')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='0')
          input(type='hidden', name='y', value='-1')
          input(type='hidden', name='z', value='0')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='NE')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='1')
          input(type='hidden', name='y', value='-1')
          input(type='hidden', name='z', value='0')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
    tr
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='W')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='-1')
          input(type='hidden', name='y', value='0')
          input(type='hidden', name='z', value='0')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='E')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='1')
          input(type='hidden', name='y', value='0')
          input(type='hidden', name='z', value='0')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        span.mapdata(style='color: #0000bb') Wolf
    tr
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        span.mapdata(style='color: #990000') Stockpile
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='SW')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='-1')
          input(type='hidden', name='y', value='1')
          input(type='hidden', name='z', value='0')
        span.mapdata(style='color: #990000') Signpost
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='S')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='0')
          input(type='hidden', name='y', value='1')
          input(type='hidden', name='z', value='0')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
        form(method='post')
          input.movebutton(type='submit', value='SE')
          input(type='hidden', name='action', value='move')
          input(type='hidden', name='x', value='1')
          input(type='hidden', name='y', value='1')
          input(type='hidden', name='z', value='0')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
    tr
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
      td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
      td.map(style='background-image: url(/game/images/p_hill1_side.jpg)')
      td.map(style='background-image: url(/game/images/p_grass.jpg)')
