if character.hp <= 0
  .row
    .col-xs-12
      .dazed
        .alert.alert-danger
          .text-center: strong You are dazed.
          div Your AP will regenerate very slowly while dazed and you cannot perform most actions besides moving and speaking. Find another player willing to revive you or revive yourself in a hospital belonging to your settlement.

          if actions.revive_self
            form.text-center(method='POST', action='/game/actions/revive_self')
              input(type='hidden', name='_csrf', value=csrf)
              button.btn.btn-default(type='submit', data-toggle='tooltip', title=actions.revive_self.ap + ' AP') Recover from dazing with #{actions.revive_self.starting_hp} HP.

          if actions.settlement_join
            form.text-center(method='POST', action='/game/actions/settlement_join')
              input(type='hidden', name='_csrf', value=csrf)
              mixin action_button('Join Settlement', actions.settlement_join.ap)
