.gamebox.buttonsbox
  ul
    if center.tile.building
      li
        dt Building Health:
        dd #{center.tile.hp}/#{data.buildings[center.tile.building].hp}
    li: a.buttonlink(href='/game/debug/replenish-ap') Replenish AP
    li: a.buttonlink(href='/game/debug/replenish-hp') Replenish HP
