extends ../_layout2.jade

block content
  include stats-top
  .container.game
    include dazed
    .row
      .col-sm-6
        include map
        include stats-bottom
      .col-sm-6
        include actions
        .chat
          include chat-entry
          include chat
