extends ../_layout.jade

block content
  .col-md-6
    include stats-top
    include map
    include stats-bottom
  .col-md-6
    include dazed
    .gamebox.infobox(style='opacity: .82')
      include flavor
      include actions
    br
    include chat
