extends ../_layout.jade

block content
  .col-md-6
    include stats-top
    include map
    include stats-bottom
  .col-md-6
    include dazed
    include actions
    include flavor
    include chat_input
    include chat
