doctype html
html
  head
    title Shintolin - Explore. Settle. Trade. Conquer.
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
    link(rel='stylesheet', type='text/css', href="/game#{assets.url('/css/game.css')}")
    link(rel='stylesheet', type='text/css', href="/game#{assets.url('/css/tiles.css')}")
  body
    .bigbox
      include map
      include stats
      include nav
      if developer_mode
        include dev
      table.infotable
        tr
          td(colspan='2')
            include dazed
            include actions
        tr
          td(colspan='2')
            include flavor
        tr
          td
            include inventory
          td
            include chat
            include chat_input
            script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
            script(src="/game#{assets.url('/js/game.js')}")
