doctype html
html
  head
    title Shintolin - Explore. Settle. Trade. Conquer.
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
    link(rel='stylesheet', type='text/css', href='/game/css/game.css')
    link(rel='stylesheet', type='text/css', href='/game/css/tiles.css')
  body
    .bigbox
      include map
      include stats
      include nav
      if developer_mode
        include dev
      table.infotable
        tr
          td(colspan='2')
            include dazed
            include actions
        tr
          td(colspan='2')
            include flavor
        tr
          td
            include inventory
          td
            include chat
            include chat_input
            script(src='/game/js/lib/jquery-2.1.4.min.js')
            script(src='/game/js/lib/jquery.cookie.js')
            script(src='/game/js/game.js')
