extends ../_layout.jade

block content
  include stats-top
  .container.game
    include dazed
    .row
      .col-sm-6.col-lg-5
        include map
        .hidden-xs
          include stats-bottom
      .col-sm-6.col-lg-7
        .hidden-xs
          include flavor
        include actions
        .chat
          include chat-entry
          include chat
        .visible-xs
          include stats-bottom
