extends ../_layout.jade

block content
  .container
    include dazed
    .row
      .col-md-6
        include stats-top
        include map
        include stats-bottom
      .col-md-6
        include actions
        br
        .gamebox.infobox.chat
          include chat-entry
          include chat
