.gamebox.buttonsbox
  a.buttonlink(href='/game/skills') Skills
  a.buttonlink(href='/game/map') Map
  a.buttonlink(href='/rankings') Leaderboards
  a.buttonlink(href='https://muut.com/shintolin') Forums
  a.buttonlink(href='http://shintolin.wikia.com/wiki/Shintolin') Wiki
  a.buttonlink(href='/logout') Log out
