.gamebox.buttonsbox
  a.buttonlink(href='/game/skills') Skills
  a.buttonlink(href='/game/map') Map
  a.buttonlink(href='/game/contacts') Contacts
  a.buttonlink(href='/rankings') Rankings
  a.buttonlink(href='http://shintolin.forumcircle.com/') Forum
  a.buttonlink(href='http://shintolin.wikia.com/wiki/Shintolin') Help/Wiki
  a.buttonlink(href='/faq') FAQ
  a.buttonlink(href='/manage/map') Admin
  a.buttonlink(href='/logout') Log out
