.gamebox.buttonsbox
  a.buttonlink(href='/game/skills') Skills
  a.buttonlink(href='/game/map') Map
  a.buttonlink(href='/rankings') Rankings
  a.buttonlink(href='https://muut.com/shintolin') Forum
  a.buttonlink(href='http://shintolin.wikia.com/wiki/Shintolin') Help/Wiki
  a.buttonlink(href='/faq') FAQ
  a.buttonlink(href='/logout') Log out
