.mapdata
  &.feature
    color #990000
  &.creature
    color #0000bb

.tile-beach
  background-image url(/game/images/p_beach.jpg)
.tile-denseforest
  background-image url(/game/images/p_denseforest.jpg)
.tile-dirt
  background-image url(/game/images/p_dirt.jpg)
.tile-deepwater
  background-image url(/game/images/p_dwater.jpg)
.tile-field_a
  background-image url(/game/images/p_afield.jpg)
.tile-field_s
  background-image url(/game/images/p_sfield.jpg)
.tile-flood
  background-image url(/game/images/p_flood.jpg)
.tile-forest
  background-image url(/game/images/p_forest.jpg)
.tile-gate
  background-image url(/game/images/p_gate.jpg)
.tile-grass
  background-image url(/game/images/p_grass.jpg)
.tile-grey
  background-image url(/game/images/p_grey.jpg)
.tile-hill
  background-image url(/game/images/p_hill.jpg)
.tile-hill1_side
  background-image url(/game/images/p_hill1_side.jpg)
.tile-hill1_top
  background-image url(/game/images/p_hill1_top.jpg)
.tile-hill2_side
  background-image url(/game/images/p_hill2_side.jpg)
.tile-hill2_top
  background-image url(/game/images/p_hill2_top.jpg)
.tile-hill3_side
  background-image url(/game/images/p_hill3_side.jpg)
.tile-hill3_top
  background-image url(/game/images/p_hill3_top.jpg)
.tile-lightforest
  background-image url(/game/images/p_lightforest.jpg)
.tile-lightgrey
  background-image url(/game/images/p_lightgrey.jpg)
.tile-marsh
  background-image url(/game/images/p_marsh.jpg)
.tile-ocean
  background-image url(/game/images/p_ocean.jpg)
.tile-rapids
  background-image url(/game/images/p_rapids.jpg)
.tile-river
  background-image url(/game/images/p_river.jpg)
.tile-road
  background-image url(/game/images/p_road.jpg)
.tile-shore
  background-image url(/game/images/p_shore.jpg)
.tile-ruins
  background-image url(/game/images/p_ruins.jpg)
.tile-spring
  background-image url(/game/images/p_spring.jpg)
.tile-well
  background-image url(/game/images/p_well.jpg)
.tile-wilderness
  background-image url(/game/images/p_wilderness.jpg)
