doctype html
html
  head
    title Shintolin - Credits
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
  body
    h1 Credits

    hr
    if logged_in
      a.buttonlink(href='/game') Return
    else
      a.buttonlink(href='/') Home
    hr

    h2 Maintainer
    p Rewritten in node.js and maintained by <b>Ecce</b>.

    h2 Creator
    p Based on the game created by <b>Isaac Lewis</b>. <a href="http://i.saac.me/">http://i.saac.me/</a>

    hr
    if logged_in
      a.buttonlink(href='/game') Return
    else
      a.buttonlink(href='/') Home
