extends ./_page.pug

block content
  .jumbotron
    .container
      .row
        .col-xs-12
          h1 Discord
  .container
    .row
      .col-xs-12

        div(style='text-align: center')
          p
            | Please join us on our Discord server!
            |  
            a(href="https://discord.gg/ZKTSKne") Click here to join.

          div.
            <iframe src="https://discordapp.com/widget?id=198158095027798017&theme=dark&username=#{locals.current_character ? current_character.name : ''}" width="450" height="400" allowtransparency="true" frameborder="0"></iframe>
