doctype html
html
  head
    title Shintolin - Reset Password
    link(rel='stylesheet', type='text/css', href='/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='/css/default.css')
    link(rel='stylesheet', type='text/css', href='/css/apps/website.css')
  body#reset-password

    .container
      .row
        .col-xs-12
          .well.reset-password.center-block
            p Coming Soon!

    script(src='/js/lib/jquery-2.1.4.min.js')
    script(src='/bootstrap-3.3.5-dist/js/bootstrap.min.js')
