extends ./_page.jade

block content
  .jumbotron
    .container
      .row
        .col-xs-12
          h1 #{settlement.name}
          h2 #{settlement.motto}

  .container
    .row
      .col-xs-12

        if editable || is_developer
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation'): a(href='#settlement', aria-controls='settlement', role='tab', data-toggle='tab') Settlement
            li(role='presentation'): a(href='#edit-settlement', aria-controls='edit-settlement', role='tab', data-toggle='tab') Edit

        .tab-content(class={'profile-read-only': (!editable && !is_developer)})
          #settlement.tab-pane.active(role='tabpanel')
            include ./settlement-view
          if editable || is_developer
            #edit-settlement.tab-pane(role='tabpanel')
              include ./settlement-edit
