extends ./_page.pug

block content
  .jumbotron
    .container
      .row
        .col-xs-12
            h1.header Release Notes

  .container
    .row
      .col-xs-12

        .news
          for update, i in updates
            div
              div: a(id=update.date.getTime())
              br
              br
              br
              div
                h4: a(href=`/updates#${update.date.getTime()}`) #{moment(update.date).format('MMMM Do, YYYY')}
                | !{update.html}
