extends ./_page.jade

block content
  .container
    .row
      .col-md-12

        .jumbotron.page-header
          h1.header Release Notes

    .row
      .col-md-12

        .news
          for update, i in updates
            if i !== 0
              hr
            h4 #{moment(update.date).format('MMMM Do, YYYY')}
            | !{update.html}
