!!! 5
html
  head
    title Map Viewer
    link(rel='stylesheet', href='/game/css/tiles.css')
    link(rel='stylesheet', href='/manage/map.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="http://underscorejs.org/underscore-min.js")
    script(src="/manage/map.js")
  body

    h1 Map
    #map

    h2 Settlements
    #settlements

    h2 Options
    ul
      li: a(href='/manage/api/map.tsv') Export Terrain
