@import url('http://fonts.googleapis.com/css?family=Freckle+Face')
@require "./variables"

// HTML elements

body
  cursor default
  background-color $bg_light

dl
  margin 0
  width 100%
  dt, dd
    float left
  dt
    width 66%
    clear left
    text-align right
  dd
    width 34%
    padding-left 8px
    overflow hidden

// Bootstrap Components

.jumbotron
  background-color $bg_dark
  color $text_light

.well
  background-color $bg_dark
  background-image $gradient_dark
  border-color $border_dark
  color $text_light

