@require "./variables"

// Fonts

/* freckle-face-regular - latin */
@font-face
  font-family 'Freckle Face'
  font-style normal
  font-weight 400
  src local('Freckle Face'), local('FreckleFace-Regular'),
       url('/fonts/freckle-face-v4-latin/freckle-face-v4-latin-regular.woff') format('woff') // Modern Browsers
// @font-face
//   font-family 'Freckle Face'
//   font-style normal
//   font-weight 400
//   src url('/fonts/freckle-face-v4-latin/freckle-face-v4-latin-regular.eot') // IE9 Compat Modes
//   src local('Freckle Face'), local('FreckleFace-Regular'),
//        url('/fonts/freckle-face-v4-latin/freckle-face-v4-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//        url('/fonts/freckle-face-v4-latin/freckle-face-v4-latin-regular.woff2') format('woff2'), // Super Modern Browsers
//        url('/fonts/freckle-face-v4-latin/freckle-face-v4-latin-regular.woff') format('woff'), // Modern Browsers
//        url('/fonts/freckle-face-v4-latin/freckle-face-v4-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
//        url('/fonts/freckle-face-v4-latin/freckle-face-v4-latin-regular.svg#FreckleFace') format('svg') // Legacy iOS

// HTML elements

body
  cursor default
  background-color $bg_light

dl
  margin 0
  width 100%
  dt, dd
    float left
  dt
    width 66%
    clear left
    text-align right
  dd
    width 34%
    padding-left 8px
    overflow hidden

// Bootstrap Components

.jumbotron
  background-color $bg_dark
  color $text_light

.well
  background-color $bg_dark
  background-image $gradient_dark
  border-color $border_dark
  color $text_light

.nav.nav-pills
  li.active
    a
      background-color $text_dark
      color $text_light

