.tile-beach
  background-image url(/tiles/p_beach.jpg)
  background-color rgb(235,232,202)
.tile-denseforest
  background-image url(/tiles/p_denseforest.jpg)
  background-color rgb(39,65,32)
.tile-dirt
  background-image url(/tiles/p_dirt.jpg)
  background-color rgb(170,172,97)
.tile-deepwater
  background-image url(/tiles/p_dwater.jpg)
  background-color rgb(103,126,163)
.tile-field_a
  background-image url(/tiles/p_afield.jpg)
  background-color rgb(206,194,73)
.tile-field_e
  background-image url(/tiles/p_efield.jpg)
  background-color rgb(140,139,97)
.tile-field_s
  background-image url(/tiles/p_sfield.jpg)
  background-color rgb(179,200,78)
.tile-flood
  background-image url(/tiles/p_flood.jpg)
  background-color rgb(183,181,109)
.tile-forest
  background-image url(/tiles/p_forest.jpg)
  background-color rgb(35,82,28)
.tile-gate
  background-image url(/tiles/p_gate.jpg)
  background-color rgb(41,41,33)
.tile-grass
  background-image url(/tiles/p_grass.jpg)
  background-color rgb(99,162,81)
.tile-grey
  background-image url(/tiles/p_grey.jpg)
  background-color rgb(173,175,147)
.tile-hill
  background-image url(/tiles/p_hill.jpg)
  background-color rgb(141,192,78)
.tile-hill1_side
  background-image url(/tiles/p_hill1_side.jpg)
  background-color rgb(153,178,84)
.tile-hill1_top
  background-image url(/tiles/p_hill1_top.jpg)
  background-color rgb(143,177,70)
.tile-hill2_side
  background-image url(/tiles/p_hill2_side.jpg)
  background-color rgb(167,199,114)
.tile-hill2_top
  background-image url(/tiles/p_hill2_top.jpg)
  background-color rgb(171,194,132)
.tile-hill3_side
  background-image url(/tiles/p_hill3_side.jpg)
  background-color rgb(185,211,137)
.tile-hill3_top
  background-image url(/tiles/p_hill3_top.jpg)
  background-color rgb(171,199,132)
.tile-lightforest
  background-image url(/tiles/p_lightforest.jpg)
  background-color rgb(65,91,34)
.tile-lightgrey
  background-image url(/tiles/p_lightgrey.jpg)
  background-color rgb(195,195,170)
.tile-marsh
  background-image url(/tiles/p_marsh.jpg)
  background-color rgb(128,217,145)
.tile-ocean
  background-image url(/tiles/p_ocean.jpg)
  background-color rgb(73,86,102)
.tile-rapids
  background-image url(/tiles/p_rapids.jpg)
  background-color rgb(148,187,215)
.tile-river
  background-image url(/tiles/p_river.jpg)
  background-color rgb(126,142,226)
.tile-road
  background-image url(/tiles/p_road.jpg)
  background-color rgb(210,209,196)
.tile-rshore
  background-image url(/tiles/p_rshore.jpg)
  background-color rgb(152,152,136)
.tile-ruins
  background-image url(/tiles/p_ruins.jpg)
  background-color rgb(175,113,54)
.tile-spring
  background-image url(/tiles/p_spring.jpg)
  background-color rgb(112,102,211)
.tile-wall
  background-image url(/tiles/p_wall.jpg)
  background-color rgb(42,42,34)
.tile-wilderness
  background-image url(/tiles/p_wilderness.jpg)
  background-color rgb(146,141,75)
