// http://www.colourlovers.com/palette/45488/french_vanilla
// http://www.colourlovers.com/palette/47378/Camp_Cupcake

$palette_light = #F7F6E4
$palette_dark = #5F3711

$bg_light = $palette_light
$bg_dark = $palette_dark

$border_light = $palette_light - 30%
$border_dark = $palette_dark - 45%

$text_light = $palette_light + 15%
$text_dark = $palette_dark

$font_logo = 'Freckle Face', cursive

$gradient_light = linear-gradient(to bottom, ($bg_light - 10%), ($bg_light - 5%) 100%)
$gradient_dark = linear-gradient(to bottom, ($bg_dark - 5%), ($bg_dark + 5%) 100%)
