!!! 5
html
  head
    title Shintolin - Credits
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
  body
    h1 Credits
    <hr>
    <a class='buttonlink' href='/'>Home</a>
    <hr>

    h2 Creator
    p Based on the game created by Isaac Lewis. <a href="http://i.saac.me/">http://i.saac.me/</a>

    <hr>
    <a class='buttonlink' href='/'>Home</a>
