!!! 5
html
  head
    title Shintolin - Rankings
    link(rel='stylesheet', type='text/css', href='/shintolin.css')
  body
    | It is Year ???, ??? ??? ----- Active Users: ???
    hr
    a.buttonlink(href='/game') Return
    hr
    form(method='GET')
      b Rank by:
      select(width='300px', name='metric')
        option(value='frags') Frags
        option(value='deaths') Deaths
        option(value='kills') Kills
        option(value='revives') Players Revived
        option(value='younguns') Newest players
        option(value='oldies') Oldest players
        option(value='survival') Longest surviving players
        option(value='') -----
        option(value='oldtowns') Oldest Settlements
        option(value='newtowns') Newest Settlements
        option(value='bigtowns') Most Populous Settlements
      input(type='submit', value='View')
