.action
  if msg.voting_for_id
    | You are now casting your vote for <a href='/profile/#{msg.voting_for_slug}'>#{msg.voting_for_name}</a>. 
  else
    | You are no longer casting a vote in the election.
  div.time= moment(msg.sent).fromNow()
