.action
  if msg.voting_for_id
    | You are now casting your vote for 
    +profileLink(msg.voting_for_slug, msg.voting_for_name)
    | . 
  else
    | You are no longer casting a vote in the election.
  +timestamp(msg)
