.action
  | The #{data.buildings[msg.building].name} was destroyed by 
  +profileLink(msg.destroyer_slug, msg.destroyer_name)
  | . You rush out into the open air as debris falls down around you. 
  +timestamp(msg)
