.action
  | Guards report that the #{data.buildings[msg.building].name} in 
  +settlementLink(msg)
  |  was destroyed by 
  +profileLink(msg.destroyer_slug, msg.destroyer_name)
  | . 
  +timestamp(msg)
