.action
  a(href='/profile/#{msg.target_slug}')= msg.target_name
  |  has been kicked out of 
  a(href='/settlements/#{msg.settlement_slug}')= msg.settlement_name
  |  by its leader, 
  a(href='/profile/#{msg.sender_slug}')= msg.sender_name
  | . 
  div.time= moment(msg.sent).fromNow()
