.action
  | You have been kicked out of 
  a(href='/settlements/#{msg.settlement_slug}')= msg.settlement_name
  |  by its leader, 
  a(href='/profile/#{msg.sender_slug}')= msg.sender_name
  | . 
  span.time= moment(msg.sent).fromNow()
