.action
  |  You feed the #{data.items[msg.item].name} to 
  if msg.sender_slug === msg.target_slug
    | yourself
  else
    | <a href='/profile/#{msg.target_slug}'>#{msg.target_name}</a>
  | . 
  div.time= moment(msg.sent).fromNow()
