.action
  if msg.sender_slug === msg.target_slug
    | You ate the #{data.items[msg.item].name}.
  else
    | You fed the #{data.items[msg.item].name} to 
    +targetLink(msg)
    | .
  +timestamp(msg)
