.action
  +senderLink(msg)
  |  gave #{msg.quantity}x #{data.items[msg.item].name} to
  if msg.building
    |  the #{data.buildings[msg.building].name}. 
  else
    |  
    +targetLink(msg)
    | . 
  +timestamp(msg)
