.action
  +senderLink(msg)
  |  uses a #{data.items[msg.item].name} on 
  if msg.sender_slug === msg.target_slug
    | themself
  else
    +targetLink(msg)
  |  healing 
  span.heal #{msg.amount} HP
  | .
  if _.contains(character.skills, 'triage')
    if msg.remaining > 0
      |  #{msg.remaining} HP remains unhealed. 
    else
      |  No HP remains unhealed. 
  +timestamp(msg)
