.action
  a(href='/profile/#{msg.sender_slug}')= msg.sender_name
  |'s provisional period is over and they are now a full-fledged resident of 
  a(href='/settlements/#{msg.settlement_slug}')= msg.settlement_name
  | . 
  div.time= moment(msg.sent).fromNow()
