.action
  a(href='/profile/#{msg.sender_slug}')= msg.sender_name
  |  plays a lively melody 
  if msg.target_id
    | for 
    a.neutral(href='/profile/#{msg.target_slug}')= msg.target_name
  |  on their ocarina.  
  div.time= moment(msg.sent).fromNow()
