.action
  | You use play a lively melody 
  if msg.target_id
    | for 
    a.neutral(href='/profile/#{msg.target_slug}')= msg.target_name
  |  on your ocarina.  
  div.time= moment(msg.sent).fromNow()
