.action
  if msg.sender_id.toString() === character._id.toString()
    | You revive yourself and heal 
    span.heal #{msg.amount} HP
    | . 
  else
    +senderLink(msg)
    |  uses #{data.items[msg.item].name} on you. 
    span.revive You feel your daze begin to subside.
  +timestamp(msg)
