.action
  if msg.sender_id.toString() === msg.target_id.toString()
    +senderLink(msg)
    |  revives themself, healing 
    span.heal #{msg.amount} HP
    | . 
  else
    +senderLink(msg)
    |  uses #{data.items[msg.item].name} on 
    +targetLink(msg)
    | . 
    span.revive Their daze begins to subside.
  +timestamp(msg)
