.social(class='social-whisper')
  if msg.sender_id.toString() === character._id.toString()
    | You whisper, 
  else
    +senderLink(msg)
    |  whispers, 
  | "#{msg.text}"
  if msg.target_id
    if msg.target_id.toString() === character._id.toString()
      |  to you. 
    else
      |  to 
      +targetLink(msg)
      | . 
  else
    | . 
  +timestamp(msg)
