.action
  | A storm blew across the land doing #{msg.damage} damage to the #{data.buildings[msg.building].name}. 
  if msg.destroyed
    | The #{data.buildings[msg.building].name} was destroyed! You rush out into the open air as debris falls down around you. 
  div.time= moment(msg.sent).fromNow()
