.action
  if msg.outside
    +senderLink(msg)
    |  wrote '
    span.message= msg.message
    | ' on the #{data.buildings[msg.building].name}. 
  else
    +senderLink(msg)
    |  wrote '
    span.message= msg.message
    | ' on the walls. 
  +timestamp(msg)
