.action
  if msg.outside
    | You write '
    span.message= msg.message
    | ' on the #{data.buildings[msg.building].name}. 
  else
    | You write '
    span.message= msg.message
    | ' on the walls. 
  +timestamp(msg)
