.action
  | You craft a #{msg.recipe}.  
  if msg.broken && msg.broken.length
    for broken_item in msg.broken
      | Your cherished #{data.items[broken_item].name} breaks!  
    | You throw away the useless pieces in disgust.  
  span.time= moment(msg.sent).fromNow()
