.action
  a(href='/profile/#{msg.sender_slug}')= msg.sender_name
  |  is no longer a resident of <a href='/settlements/#{msg.settlement_slug}'>#{msg.settlement_name}</a>. 
  span.time= moment(msg.sent).fromNow()
