extends ./_layout.jade

block styles
  link(rel='stylesheet', type='text/css', href='/css/default.css')
  link(rel='stylesheet', type='text/css', href='/game/css/game2.css')
  link(rel='stylesheet', type='text/css', href='/game/css/tiles.css')

