doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Shintolin - Explore. Settle. Trade. Conquer.
    style(type='text/css').
      body {
        background-color: red;
        cursor: default;
      }

      p.banned {
        color: black;
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 5em;
      }

      p.contact {
        color: black;
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 1em;
      }

      p.contact .email {
        font-family: monospace;
      }
  body
    p.banned THIS ACCOUNT<br>IS BANNED
    p.contact Email <a href="mailto:ecce@shintolin.com">ecce@shintolin.com</a> from the email address associated<br>with this account (<span class="email">#{email}</span>) with any questions.
