doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Shintolin - Explore. Settle. Trade. Conquer.
    style(type='text/css').
      body {
        background-color: red;
        color: black;
        text-align: center;
        font-family: Arial;
        font-weight: bold;
        font-size: 9em;
      }
  body
    p #{message}
