extends ./_layout.jade

mixin chat_nav()
  .row.chat-nav
    .col-xs-6
      if page === 2
        a.btn.btn-default(href='/game/chat') &larr; Newer
      else if page > 1
        a.btn.btn-default(href='/game/chat?page=#{page - 1}') &larr; Newer
      else
        a.disabled.btn.btn-default(disabled='disabled') &larr; Newer
    .col-xs-6.text-right
      if messages.length === page_size
        a.btn.btn-default(href='/game/chat?page=#{page + 1}') Older &rarr;
      else
        a.disabled.btn.btn-default(disabled='disabled') Older &rarr;

block content
  .container
    br
    +chat_nav()

  .chat.chat-history

    if page === 1
      .jumbotron
        .container
          .row
            .col-xs-12
              include game/chat-entry

    if locals.error
      .container
        .row
          .col-xs-12
            .alert.alert-danger #{error}

    .container
      .row
        .col-xs-12
          include game/chat

  .container
    +chat_nav()
