extends ./_layout.jade

block content
  .container
    .row
      .col-md-12
        if page > 0
          a.buttonlink(href='/game/chat?page=#{page - 1}') &larr; Newer
        else
          a.disabled.buttonlink(disabled='disabled') &larr; Newer
        if messages.length === page_size
          a.buttonlink(href='/game/chat?page=#{page + 1}') Older &rarr;
        else
          a.disabled.buttonlink(disabled='disabled') Older &rarr;
        hr
        include game/chat
        hr
        if page > 0
          a.buttonlink(href='/game/chat?page=#{page - 1}') &larr; Newer
        else
          a.disabled.buttonlink(disabled='disabled') &larr; Newer
        if messages.length === page_size
          a.buttonlink(href='/game/chat?page=#{page + 1}') Older &rarr;
        else
          a.disabled.buttonlink(disabled='disabled') Older &rarr;
