extends ./_layout.jade

include ./game/tile

block content
  .container
    .row
      .col-xs-12
        br
        .map
          .map-table.large.text-center
            table(class='season-#{time.season.toLowerCase()}')
              for row in grid
                tr
                  for tile in row
                    +tile_td(tile, 'map')
