body
  min-height 2000px
  padding-top 70px


.navbar
  background-color #d0d0b0
  background-image none
  border-color #c9c9aa
  .active, .open
    a
      background-image none !important
      background-color #c9c9aa !important
  .dropdown-menu
    a
      background-color #fff !important
    a:hover
      background-color #d0d0b0 !important

.mapdata
  &.feature
    color #990000
  &.creature
    color #0000bb
td.map
  border 1px solid rgba(255, 255, 255, 0)
  background-color transparent
td.map > div
  overflow hidden
  max-height 100px
  min-height 100px
td.map.current
  > div
    border 1px solid rgba(0, 0, 0, .25)
    border-radius 14px
.buttonlink.disabled
  color #999
input[type='submit'].disabled
  background-color #ccc
  color #666
  border-top 2px solid #eee
  border-left 2px solid #eee
  border-bottom 2px solid #666
  border-right 2px solid #666
.error
  margin: 1em 0 0 0
  color #990000
  font-weight bold
.gamebox-no-bottom
  border-bottom none
