$bg_extralight=#e8e6c5
$bg_light=#d0d0b0
$bg_medium=#d6d4a6
$bg_dark=#c8c8a0
$bg_extradark=#908c70
$text_dark=#333
$text_light=$bg_extradark
$text_extralight=#fff

body
  min-height 2000px
  padding-top 70px

.navbar
  background-color $bg_light
  background-image none
  border-color $bg_dark
  .active, .open
    a
      background-image none !important
      background-color $bg_dark !important
  .dropdown-menu
    a
      background-color white !important
    a:hover
      background-color $bg_light !important
.btn-default
  background-color $bg_light

select[disabled]
  background-color $bg_light

td.map
  border 1px solid rgba(255, 255, 255, 0)
  background-color transparent
td.map > div
  overflow hidden
  max-height 100px
  min-height 100px
  padding-top 8px
  form
    margin 0
    padding 0
  button
    text-transform uppercase
    min-width 30px
    margin-bottom 3px
    font-weight bold
  .mapdata
    display inline-block
    padding 0 4px
    &.feature
      color #990000
    &.creature
      color #0000bb
td.map.current
  > div
    border 1px solid rgba(0, 0, 0, .25)
    border-radius 14px
.buttonlink.disabled
  color #999
input[type='submit'].disabled
  background-color #ccc
  color #666
  border-top 2px solid #eee
  border-left 2px solid #eee
  border-bottom 2px solid #666
  border-right 2px solid #666
input.action
  font-weight bold
.error
  margin: 1em 0 0 0
  color #990000
  font-weight bold
.gamebox-no-bottom
  border-bottom none

.locationbox
  > div
    margin 0
    padding 0
  div:first-child
    padding-top 8px
  div:last-child
    padding-bottom 8px
  span.disabled
    color $text_light

.statsbox-bottom
  text-align center
  > div > span
    display inline-block
    margin 0 6px

.statsbox-top
  text-align center
  > div
    display inline-block
    margin 0 10px
    label
      display inline-block
      position relative
      top -5px
      margin 0 6px 0 0
    .progress
      width 100px
      display inline-block
      margin 5px 0 0 0
      position relative
      background-image none
      background-color $bg_light
      border 1px solid $bg_extradark
      .content
        position absolute
        top 0
        left 0
        width 100px
        text-align center

.flavor, .actions
  padding 8px
.actions
  form
    input[type='submit']
      min-width 85px
      margin-right 5px
      padding 0 8px
  p.empty
    padding 8px 8px 0 8px
  .nav-tabs
    border 0
    border-bottom 0
    li
      a
        border 0
        padding 5px 15px
      &.active a, &.active:hover a
        background-color $bg_extradark
        color $text_extralight
        border 0
      &:hover a
        background-color $bg_dark
        border 0
  .tab-content
    position relative
    top -1px
    padding 8px
    background-color $bg_extradark
    color $text_extralight

.chat
  padding 0
  form
    padding 5px
    input[type='text']
      width 440px
    text-align center
    label
      margin 0 8px
      select
        font-weight normal
  .message
    margin-bottom 3px
    .announcement
      padding 5px
      background-color $bg_extradark
      color $text_extralight
    .social
      background-color $bg_extralight
      padding 5px
    .social-shout
      font-weight bold
    .social-whisper
      font-style italic
    .action
      padding 2px 5px
  .more
    background-color $bg_dark
    text-align center
    padding 8px 5px 5px 5px
