.mapdata
  &.feature
    color #990000
  &.creature
    color #0000bb
td.map
  border 1px solid rgba(255, 255, 255, 0)
  background-color transparent
td.map > div
  overflow hidden
  max-height 100px
  min-height 100px
td.map.current
  border 1px solid rgba(0, 0, 0, .25)
  border-radius 14px
.buttonlink.disabled
  color #999
input[type='submit'].disabled
  background-color #ccc
  color #666
  border-top 2px solid #eee
  border-left 2px solid #eee
  border-bottom 2px solid #666
  border-right 2px solid #666
.error
  margin: 1em 0 0 0
  color #990000
  font-weight bold
.gamebox-no-bottom
  border-bottom none
